Spike.Providers.WCF.Proxy/Service References/SecurityProviderService/Spike.Providers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Spike.Providers" elementFormDefault="qualified" targetNamespace="Spike.Providers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Spike.Contracts.Security" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Security.Claims" />
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Spike.Contracts.Security" minOccurs="0" name="user" nillable="true" type="q1:ApplicationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Spike.Contracts.Security" minOccurs="0" name="RegisterUserResult" nillable="true" type="q2:ApplicationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Spike.Contracts.Security" minOccurs="0" name="DeleteUserResult" nillable="true" type="q3:ApplicationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Spike.Contracts.Security" minOccurs="0" name="GetUserResult" nillable="true" type="q4:ApplicationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserClaims">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserClaimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Security.Claims" minOccurs="0" name="GetUserClaimsResult" nillable="true" type="q5:ArrayOfClaim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>