Spike.Providers.WCF.Proxy/Service References/BookProviderService/Spike.Providers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Spike.Providers" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Spike.Providers" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Spike.Providers/Imports">
      <xsd:import namespace="Spike.Providers" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Spike.Contracts.Books" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BookProviderService_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="BookProviderService_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="BookProviderService_GetBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBook" />
  </wsdl:message>
  <wsdl:message name="BookProviderService_GetBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookResponse" />
  </wsdl:message>
  <wsdl:message name="BookProviderService_GetAllBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooks" />
  </wsdl:message>
  <wsdl:message name="BookProviderService_GetAllBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse" />
  </wsdl:message>
  <wsdl:portType name="BookProviderService">
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="Spike.Providers/BookProviderService/AddBook" message="tns:BookProviderService_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="Spike.Providers/BookProviderService/AddBookResponse" message="tns:BookProviderService_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <wsdl:input wsaw:Action="Spike.Providers/BookProviderService/GetBook" message="tns:BookProviderService_GetBook_InputMessage" />
      <wsdl:output wsaw:Action="Spike.Providers/BookProviderService/GetBookResponse" message="tns:BookProviderService_GetBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <wsdl:input wsaw:Action="Spike.Providers/BookProviderService/GetAllBooks" message="tns:BookProviderService_GetAllBooks_InputMessage" />
      <wsdl:output wsaw:Action="Spike.Providers/BookProviderService/GetAllBooksResponse" message="tns:BookProviderService_GetAllBooks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>