WcfCosumer/Service References/BookService/BookService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Spike.Public" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Spike.Public" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Spike.Public/Imports">
      <xsd:import schemaLocation="https://localhost:44300/V01/Services/BookService.svc?xsd=xsd0" namespace="Spike.Public" />
      <xsd:import schemaLocation="https://localhost:44300/V01/Services/BookService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44300/V01/Services/BookService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Spike.Contracts.Books" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookService_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="IBookService_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBook" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetAllBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooks" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetAllBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookService">
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="Spike.Public/IBookService/AddBook" message="tns:IBookService_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="Spike.Public/IBookService/AddBookResponse" message="tns:IBookService_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <wsdl:input wsaw:Action="Spike.Public/IBookService/GetBook" message="tns:IBookService_GetBook_InputMessage" />
      <wsdl:output wsaw:Action="Spike.Public/IBookService/GetBookResponse" message="tns:IBookService_GetBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <wsdl:input wsaw:Action="Spike.Public/IBookService/GetAllBooks" message="tns:IBookService_GetAllBooks_InputMessage" />
      <wsdl:output wsaw:Action="Spike.Public/IBookService/GetAllBooksResponse" message="tns:IBookService_GetAllBooks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>