Spike.Providers.WCF.Proxy/Service References/IdentityResolverService/Spike.Providers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Spike.Providers" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Spike.Providers" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Spike.Providers/Imports">
      <xsd:import namespace="Spike.Providers" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Spike.Contracts.Security" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Security.Claims" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IdentityResolverService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IdentityResolverService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IdentityResolverService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IdentityResolverService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IdentityResolverService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IdentityResolverService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IdentityResolverService_GetUserClaims_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserClaims" />
  </wsdl:message>
  <wsdl:message name="IdentityResolverService_GetUserClaims_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserClaimsResponse" />
  </wsdl:message>
  <wsdl:portType name="IdentityResolverService">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="Spike.Providers/IdentityResolverService/RegisterUser" message="tns:IdentityResolverService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="Spike.Providers/IdentityResolverService/RegisterUserResponse" message="tns:IdentityResolverService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="Spike.Providers/IdentityResolverService/DeleteUser" message="tns:IdentityResolverService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="Spike.Providers/IdentityResolverService/DeleteUserResponse" message="tns:IdentityResolverService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="Spike.Providers/IdentityResolverService/GetUser" message="tns:IdentityResolverService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="Spike.Providers/IdentityResolverService/GetUserResponse" message="tns:IdentityResolverService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserClaims">
      <wsdl:input wsaw:Action="Spike.Providers/IdentityResolverService/GetUserClaims" message="tns:IdentityResolverService_GetUserClaims_InputMessage" />
      <wsdl:output wsaw:Action="Spike.Providers/IdentityResolverService/GetUserClaimsResponse" message="tns:IdentityResolverService_GetUserClaims_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>