Spike.Providers.WCF.Proxy/Service References/IdentityResolverService/Spike.Contracts.Security.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Spike.Contracts.Security" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Spike.Contracts.Security" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CommonIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentityType" type="tns:IdentityType" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:ArrayOfIdentityRole" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonIdentity" nillable="true" type="tns:CommonIdentity" />
  <xs:simpleType name="IdentityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="InternalUser" />
      <xs:enumeration value="InternalService" />
      <xs:enumeration value="ExternalUser" />
      <xs:enumeration value="ExternalService" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="IdentityType" nillable="true" type="tns:IdentityType" />
  <xs:complexType name="ArrayOfIdentityRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IdentityRole" type="tns:IdentityRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIdentityRole" nillable="true" type="tns:ArrayOfIdentityRole" />
  <xs:simpleType name="IdentityRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Basic" />
      <xs:enumeration value="Admin" />
      <xs:enumeration value="Super" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="IdentityRole" nillable="true" type="tns:IdentityRole" />
</xs:schema>